@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans'), url('/assets/fonts/josefin/JosefinSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Josefin Sans'), url('/assets/fonts/josefin/JosefinSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 250;
    src: local('Josefin Sans'), url('/assets/fonts/josefin/JosefinSans-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 250;
    src: local('Josefin Sans'), url('/assets/fonts/josefin/JosefinSans-ThinItalic.woff') format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Josefin Sans'), url('/assets/custom-fonts/josefin/JosefinSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Josefin Sans'), url('/assets/custom-fonts/josefin/JosefinSans-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Josefin Sans'), url('/assets/custom-fonts/josefin/JosefinSans-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Josefin Sans'), url('/assets/custom-fonts/josefin/JosefinSans-SemiBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Josefin Sans'), url('/assets/custom-fonts/josefin/JosefinSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Josefin Sans'), url('/assets/custom-fonts/josefin/JosefinSans-BoldItalic.woff') format('woff');
}

