
$app-primary: (
    50 : #e4f4f4,
    100 : #bce3e3,
    200 : #8fd1d1,
    300 : #62bebe,
    400 : #41b0b0,
    500 : #1fa2a2,
    600 : #1b9a9a,
    700 : #179090,
    800 : #128686,
    900 : #0a7575,
    A100 : #a6ffff,
    A200 : #73ffff,
    A400 : #40ffff,
    A700 : #26ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-secondary: (
    50 : #ffe0f5,
    100 : #ffb3e6,
    200 : #ff80d5,
    300 : #ff4dc4,
    400 : #ff26b7,
    500 : #ff00aa,
    600 : #ff00a3,
    700 : #ff0099,
    800 : #ff0090,
    900 : #ff007f,
    A100 : #ffffff,
    A200 : #fff2f8,
    A400 : #ffbfdc,
    A700 : #ffa6cd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);