<div class="container">
<!-- <app-header></app-header> -->
    <h1 class="heading">Upload and analyze files</h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="file-upload-section">
                <form class="fileUpload-form">
                    <div class="custom-file-upload">
                        <input type="file" />
                    </div>
                    <button mat-raised-button color="primary">Upload Files</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <file-list></file-list>
        </div>
    </div>

</div>